// --------------------- buttons ------------------
%btn {
    position: relative;
    z-index: 1;
    // transition: all ease-out 0.5s;
    &:after {
        content: '';
        width: 0%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        z-index: -1;
        transition: all ease-out 0.25s;
    }
    &:hover,&:active, &:focus {
        &:after{
            width: 100%;
        }
    }
}
.btn {
    @extend %btn;
    @include calculateRem(20px, $font-size-root);
    color: #fff;
    margin: 40px 0 0 0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px 10px;
    text-decoration: none;
    line-height: 55px;
    letter-spacing: 1px;
    font-family: $font-family;
    -moz-font-feature-settings: initial;
    -webkit-font-feature-settings: initial;
    font-feature-settings: initial;
    &:hover,&:active, &:focus {
        color: #1b1b1b;
    }
    &.btn-border {
        border: 2px solid #fff;
    }
    &:after {
        background: #fff;
    }
   
    &.btn-peach{
        display: block;
        @include calculateRem(20px, $font-size-root);
        @include bd-sm {
            @include calculateRem(24.22px, $font-size-root);
        }
        margin: 16px auto 0 auto;
        padding: 0;
        width: 190px;
        height: 61px;
        border: 4px solid #e4675b;
        &:hover,&:active, &:focus {
            color: #fff;
        }
        &:after {
            background: #e4675b;
        }
    }
}
.wrDetail a {
    @extend %btn;
    &:after {
        background: #e4675b;
    }
    &:hover,&:active, &:focus {
        color: #fff;
    }
}