footer {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    .arrow-down {
	    background: #222222;
	    position: relative;
	    text-align: center;
	    color: #8d8d8d;
	    padding: 48px 0;
	}
	.main-copyright {
		text-transform: uppercase;
    	background-color: #1b1b1b;
    	color: #fff;
    	font-size: 12px;
    	@include bd-sm-bl{
    		text-align: center;
    	}
		a{
			color: #fff;
		    font-size: 12px;
		    font-weight: 400;
		    text-decoration: none;
		    padding: 0 8px;
		    border-right: 1px solid #fff;
		    height: 8px;
		    line-height: 40px;
		    letter-spacing: 0.5px;
		    text-transform: uppercase;
		    &:hover, &:focus, &:active {
		    	color: #e4675b;
		    }
		}
		span:not(.footer-copyright) {
			margin-left:6px; 
			font-size:10px; 
			color: #969696;
		}
		.social-follow{
			@include bd-sm-bl {
				line-height: 10px;
			}
			@include bd-sm {
				display: inline-block;
			}
		}
		.container-md {
			a:nth-of-type(3) {
				@include bd-sm-bl {
					border-right: 0;
				}
			}
		}
	}
	a.main-copyright-no-border {
		border: 0;
	}
	.footer-copyright {
	    float: right;
	    line-height: 40px;
	    color: #fff;
	    @include bd-sm-bl{
	    	width: 100%;
	    }
	}
}

.site-footer {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}