#header {
	position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    z-index: 99;
    background-color: #212428;
    @include transitions(background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0s);
    &.transparent-header {
        background-color: transparent;
    }
    .scrolled & {
    	background-color: rgba(33, 36, 40,0.7);
    }
    @include bd-sm{
        height: 78px;
    }
}