.nav-wrapper {
    // padding: 0 30px;
}
.menu-wrapper {
    @include bd-custom-min($grid-float-breakpoint) {
        height: auto!important;
    }
    @include bd-custom-max($grid-float-breakpoint) {
        display: table;
        opacity: 0;
        vertical-align: middle;
        visibility: hidden;
        @include transform(perspective(600px) rotateX(10deg));
        @include transitions(all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63) 0s);
        top: -10%;
        width: 100%;
        position: relative;
        .closing & {
            @include transform(perspective(600px) rotateX(10deg));
            @include transitions(all 0.25s cubic-bezier(0.3, 0, 0.36, 0.63) 0s);
            visibility: visible;
        }
        .open &{
            margin-top: 0;
            opacity: 1;
            top: -65px;
            @include transform(perspective(600px) rotateX(0deg));
            visibility: visible;
            z-index: 99;
        }
    }
}
.menu-nav{
    @include clearfix();
    margin-top: 10px;
    @include bd-tab {
        float: right;
    }
    ul{
        float: right;
    }
}
 .logo{
    float: left; 
    width: 30px;
    z-index: 999;
    margin-left: 30px;
    margin-top: 10px;
    img{
        width: 100%;
    }
    @include bd-sm {
        width: 47px;
    }
}

.social-icons{
    display: none;
    margin: 0 auto 30px;
}

ul.menu {
    margin-top: 19px;
    margin-bottom: 0;
    padding-right: 25px;
    @include bd-tab{
        padding-right: 55px;
    }
    li {
        display: inline-block;
        padding: 0 0 0 21px;
        list-style-type: none;
    }
    a{
        font-family: $font-family;
        text-decoration: none;
        letter-spacing: 0.8px;
        @include transitions(all 0.2s);
        @include bd-tab {
            @include calculateRem(16px, $font-size-root);
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
        }
        &.active, &:hover, &:focus, &:active {
            color: #e4675b;
            outline: 0;
        }
    }
}
.logo-text{
    display: none;
}

@include bd-custom-max($grid-float-breakpoint) { 
    .logo-text{
        display: block;
        @include calculateRem(50px, $font-size-root);
        text-transform: uppercase;
        font-family: $font-family-secondary;
        color: #fff;
        margin: 50px 0;
    }
    .menu-nav{
        background-color: transparent;
        margin-top: 0;
        text-align: center;
        height: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        @include transition(background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0s, top 0s 1.5s);
        .open & {
            top: 0;
            background-color: #23262A;
            z-index: 99;
            visibility: visible;
            @include transition(background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0s, top 0s);
        }
        .social-icons{
            display: block;
        }
    }
    .inner-wrapper {
        display: table-cell;
        vertical-align: middle;
    }
    ul.menu {
        float: none;
        padding: 0;
        margin-top: 0;
        a {
            display: block;
            padding: 0;
            @include calculateRem(24px, $font-size-root);
            color: #e4675b;
            line-height: 70px;
            text-transform: capitalize;
        }
        li {
            display: block;
            text-align: center;
            padding :0;
        }
    }
    .social-icons {
        margin: 22px auto;
        i{
            font-family: 'FontAwesome';
        }
    }
    ul.menu {
        &:before, &:after {
            content: '';
            width: 88px;
            background: #4A494B;
            height: 1px;
            display: block;
            margin: 30px auto;
        }
    }
    #toggle-menu {
        cursor: pointer;
        position: absolute;
        @include transitions(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1) 0s);
        width: 22px;
        top: 15px;
        right: 20px;
        z-index: 999;
        &:hover, &:focus, &:active {
            outline: 0;
        }
    }
    .burger-icon {
        display: block;
        background: #fff;
        height: 4px;
        margin: 10px 0;
        transition: all 0.3s ease 0s;
        -webkit-transition: all 0.3s ease 0s;
        width: 20px;
        &:after, &:before{
            content: '';
            background: #fff;
            display: block;
            height: 4px;
            position: absolute;
            transition: all 0.3s ease 0s;
            -webkit-transition: all 0.3s ease 0s;
            width: 20px;
        }
        &:before{
            top: 2px;
        }
        &:after {
            top: 18px;
        }
        .open & {
            &:before{
                top: 10px;
                @include transform(rotate(-45deg));
                width: 22px;
            }
            &:after{
                top: 10px;
                @include transform(rotate(45deg));
                width: 22px;
            }
        }
    }
    .open .burger-icon {
        background: transparent;
    }
}

@include bd-sm {
    #toggle-menu {
        top: 30px;
    }
}
@include bd-sm-bl {
    .logo-text {
        @include calculateRem(35px, $font-size-root);
        margin: 50px 0 20px;
        line-height: 40px;
    }
    ul.menu {
        &:before, &:after {
            width: 68px;
            margin: 15px auto;
        }
        li {
            a {
                line-height: 50px;
                @include calculateRem(18px, $font-size-root);
            }
        }
    }
    .social-icons {
        margin: 22px auto;
    }
}