<footer class="site-footer">
    <div class="arrow-down">
        <div class="container container-md">
            <a class="arrow-down-icon" href="contact.html">
                <i class="icons-sprite icons-arrow-down"></i>
            </a>
        </div>
    </div>
    <div class="main-copyright">
        <div class="container container-md">
            <div class="row">
                <a href="index.html">White Rabbit</a>
                <a href="careers.html">Careers</a>
                <a href="http://portal.whiterabbit.group/support/" target="_blank">Support</a>
                <div class="social-follow">
                    <span>Follow Us:</span>
                    <a href="https://www.linkedin.com/company/white-rabbit-group-inc" class="fa fa-linkedin main-copyright-no-border" target="_blank"></a>
                </div>
                <span class="footer-copyright"> &copy; Copyright 2017 White Rabbit Grp. Inc.</span>
            </div>
        </div>
    </div>
</footer>
</div>
<script>
var loadDeferredStyles = function() {
    var addStylesNode = document.getElementById("deferred-styles");
    var replacement = document.createElement("div");
    replacement.innerHTML = addStylesNode.textContent;
    document.body.appendChild(replacement)
    addStylesNode.parentElement.removeChild(addStylesNode);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
    webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
else window.addEventListener('load', loadDeferredStyles);
</script>
<script type="text/javascript" src="js/main.js"></script>
</body>

</html>