/* Generic Classes */

@mixin clearfix{
    &:before, &:after {
        content: '';
        display: table;
        clear: both;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

img {
    max-width: 100%;
    height: auto;
    &.full-width {
        width: 100%;
    }
}

figure {
    margin: 0;
}

.clearfix {
    @include clearfix();
}
.bg-white {
    background: #fff;
}

.heading {
    @include calculateRem(42px, $font-size-root);
    text-transform: uppercase;
    font-family: $font-family-secondary;
    color: #e4675b;
    margin: 0 0 34px;
    text-align: center;
    line-height: 32px;
    &.header-left {
        @include calculateRem(38px, $font-size-root);
        text-align: left;
    }
}
a {
    text-decoration: none;
    color: #e4675b;
}
p{
    @include calculateRem(17px, $font-size-root);
    font-family: $font-family;
    margin-bottom: 25px;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.p-l-r-100 {
    padding-left: 30px;
    padding-right: 30px;
    @include bd-xs {
        padding-left: 50px;
        padding-right: 50px;
    }
    @include bd-sm {
        padding-left: 100px;
        padding-right: 100px;
    }
}
.mt-0 {
    margin-top: 0;
    &.main-wrapper {
        margin-top: 0;
    }
}

.mt-50 {
    margin-top: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.p-t-b-84 {
    padding-top: 84px;
    padding-bottom: 84px;
}