body {
	margin: 0;
	font-family: $font-family;
	font-size: 17px;
	line-height: 1.625;
	color: #222222;
	background-color: #fff;
}

.main-wrapper {
	margin-top: 55px;
	overflow-x: hidden;
	@include bd-sm {
    	margin-top: 78px;
    }
}

* {
    margin: 0;
    padding: 0;
}

*,*::before,*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

section {
	background-color: #fff;
	&.video-section {
		background-color: transparent;
	}
}

h1 {
	@include calculateRem(50px, $font-size-root);
}
h2 {
	@include calculateRem(42px, $font-size-root);
}
h3 {
	@include calculateRem(28px, $font-size-root);
}

.section-wrap {
    padding: 84px 0;
   &.case-study.partners-list{
		padding: 50px 0 30px 0;
   }
}

.clients,
.we-code {
	.col-2 {
	    height: 140px;
	    position: relative;
	    @include bd-tab-bl{
	    	width: 33.3333%;
	    }
	    @include bd-sm-bl{
	    	width: 50%;
	    }
	}
}
.col-1{
	width:8.33%;
}
.col-2{
	width:16.66%;
}
.col-3{
	width:25%;
}
.col-4{
	width:33.33%;
}
.col-5{
	width:41.66%;
}
.col-6{
	width:50%;
}
.col-7{
	width:58.33%;
}
.col-8{
	width:100%;
}
.col-9{
	width:75%;
}
.col-10{
	width:83.33%;
}
.col-11{
	width:91.66%;
}
.col-12{
	width:100%;
}

[class*="col-"]{
	float:left; 
	padding: 0 10px;
}
.row{
	margin-left:-10px; 
	margin-right: -10px;
	@include clearfix();
}
.container {
    padding: 0 20px;
    margin: 0 auto;
}
.container-md {
	max-width: 1236px;
	@include bd-lg-bl {
		max-width: 768px;
	}
	@include bd-custom-max(520px) {
		max-width: 480px;
	}
	@include bd-xs-bl {
		max-width: 320px;
	}
}