// Home Page
.video-wrapper {
    video {
        z-index: -99;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.58);
        z-index: -1;
    }
    figcaption {
        padding-top: 120px;
        padding-bottom: 120px;
        @include bd-tab {
            padding-top: 220px;
            padding-bottom: 220px;
        }
        h1 {
            @include calculateRem(30px, $font-size-root);
            @include bd-sm {
                @include calculateRem(38px, $font-size-root);
            }
            @include bd-tab {
                @include calculateRem(50px, $font-size-root);
            }
            color: #fff;
            margin: 0;
            padding: 0;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            line-height: 53px;
            font-family: $font-family-secondary;
        }
    }
}

section.we-code{
    background: #fff;
    p{
      @include calculateRem(20px, $font-size-root);  
      margin-bottom: 35px;
    }
}

@mixin quote {
    figure {
        width: 100%;
        height: 497px;;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @include bd-lg-bl{ 
            height: 300px;
        }
    }
    figcaption {
        color: #fff;
        width: 100%;
        h2 {
            @include calculateRem(42px, $font-size-root);
            @include bd-lg-bl{
                @include calculateRem(30px, $font-size-root);
                line-height: 38px;
            }
            text-align: center;
            margin: 0;
            font-family: $font-family-tertiary;
        }
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        margin: 0;
    }
}
.bg-text {
    figure {
        padding: 84px 0;
        width: 100%;
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        &:before {
            content: '';
            background: rgba(0, 0, 0, 0.3);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            opacity: 0.75;
            @include transitions(all ease 0.25s);
        }
        &:hover{
            &:before{
                opacity: 1;
            }
        }
    }
    &.results-section {
        figure {
            background-position: center;
        }
    }
    figcaption {
        color: #fff;
        width: 100%;
        h2 {
            @include calculateRem(42px, $font-size-root);
            line-height: 32px;
            text-align: center;
            &.cs-header {
                text-transform: uppercase;
                font-family:  $font-family-secondary;
                color: #e4675b;
                margin: 0 0 34px;
            }
        }
    }
}
.quote-section {
    position: relative;
    height: 497px;
    background-color: #fff;
    font-family: $font-family-tertiary;
    @include quote;
    @include bd-lg-bl{
        height: 300px;
    }
}

#bckgrnd-1 {
    background-image: url('../images/case-studies-home-vw.jpg');
}

#bckgrnd-2 {
    background-image: url('../images/case-studies-home-firestorm1.jpg');
    background-position: 0 -300px;
    background-repeat: no-repeat;
}

#bckgrnd-3 {
    background-image: url('../images/case-studies-home-1.jpg');
}

.partners-list {
    p{
        @include calculateRem(20px, $font-size-root);
    }
    .partner-list {
        padding: 70px 20px 70px 20px;
        margin-bottom: 30px;
        &:last-child{
            margin-bottom: 0;
        }
        p {
            max-width: 560px;
            color: #fff;
            line-height: 28px;
            @include calculateRem(20px,$font-size-root);
            padding: 30px 0 14px 0;
        }
    }
    .technologies {
        display: none;
        margin: 6px 0 20px 0;
        font-weight: bold;
        span {
            color: #fff;
            vertical-align: top;
            line-height: 44px;
        }
        i.tech-icon-sprite {
            margin: 0;
            display: inline-block;
        }
    }
}
.icon-wrap {
    text-align: center;
}
.clients {
    padding-bottom: 70px;
    p{
        @include calculateRem(20px, $font-size-root);
    }
    .col-2 {
        height: 100px;
        position: relative;
    }
}
// inner pages 

.site-content {
    position: relative;
    background: #fff;
}
.page-title {
    height: 113px;
    position: relative;
    padding: 28px 0;
    text-align: center;
    @include bd-custom-min(768px) {
        box-shadow: 0 1px 2px rgba(0,0,0,0.2);
        background: #fff;
    }
    h2 {
        @include calculateRem(46px, $font-size-root);
        text-transform: uppercase;
        font-family: $font-family-secondary;
        color: #e4675b;
        margin: 0;
        line-height: 52px;
    }
    @include bd-custom-max(768px) {
        height: 78px;
        position: fixed;
        width: 100%;
        width: 66%;
        margin: 0 17%;
        padding: 10px 0px;
        z-index: 2000;
        top: 0;
        background: none;
        @include transitions(all 0.4s cubic-bezier(0.7, 0.01, 0.3, 1) 0s);
        box-shadow: none;
        h2{
            @include calculateRem(30px, $font-size-root);
            line-height: 62px;
        }
        .open & {
            @include transitions(all 0.3s ease-out);
            margin-top: -78px;
        }
    }
    @include bd-sm-bl {
        height: 55px;
        h2 {
            line-height: 34px;
        }
    }
}
.feat-img, 
.case-study-img {
    text-align: center;
    width: 100%;
    padding: 0;
    figure {
        display: table;
        width: 100%;
        @include bd-tab {
            height: 497px;
        }
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        figcaption {
            display: table-cell;
            vertical-align: middle;
            color: #fff;
            width: 100%;
            h2 {
                @include calculateRem(40px, $font-size-root);
                line-height: 50px;
                @include bd-lg-bl{
                    @include calculateRem(30px, $font-size-root);
                    line-height: 38px;
                }
                text-align: center;
                margin: 0;
                font-family: $font-family-tertiary;
            }
            @include bd-tab-bl {
                padding-top: 120px;
                padding-bottom: 120px;
            }
        }
    }
}

.solutions {
    padding: 84px 0;
    @include bd-sm-bl {
        text-align: center;
        .heading{
            text-align: center;
        }
    }
    ul{
        @include bd-tab {
            width: 50%;
            float: left;
        }
        @include bd-sm-bl {
            &.styled-list{
                li{
                    padding-left: 0;
                    &:before{
                        background: #fff;
                    }
                }
            }
        }
    }
    .col-9, .col-3 {
        &.bunny-about {
            margin-top: 168px;
        }
        @include bd-tab-bl {
            width: 100%;
            &.bunny-about {
                margin-top: 30px;
                margin-bottom: -20px;
            }
        }
    }
}

ul.styled-list{
    li{
        list-style: none;
        margin-bottom: 8px;
        padding-left: 20px;
        position: relative;
        &:before {
            content: '';
            background: #e4675b;
            border-radius: 50%;
            width: 6px;
            height: 6px;
            left: 2px;
            position: absolute;
            top: 7px;
        }
    }
}

.contact-mail {
    padding: 100px 0 150px;
    @include bd-tab-bl{
        padding: 80px 0 30px;   
    }
    div[class*="col-"] {
        text-align: center;
        @include bd-lg-bl {
            padding: 0 20px;
            font-size: 16px;
            line-height: 20px;
        }
        @include bd-sm-bl{
            width: 100%;
            margin-bottom: 50px;
        }
    }
    .heading{
        @include calculateRem(38px, $font-size-root);
        line-height: 42px;
        margin-bottom: 25px;
        @include bd-xs-bl {
            @include calculateRem(30px, $font-size-root);
        }
        &:after {
            height: 1px;
            width: 120px;
            background: #e5e5e5;
            content: "";
            display: block;
            margin: 22px auto 0;
        }
    }
    p{
        margin-bottom: 0;
        font-size: 17px;
        line-height: 25px;
    }
}

.case-study-img {
    figure {
        background-attachment: fixed;
        height: 75vh;
        min-height: 520px;
    }
    figcaption {
        padding-top: 120px;
        padding-bottom: 120px;
        @include bd-tab {
            padding-top: 170px;
            padding-bottom: 170px;
        }
        @include bd-xlg {
            padding-top: 210px;
            padding-bottom: 210px;
        }
    }
    .container {
        padding: 0;
    }
}

.banner-text {
    width: 100%;
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    position: relative;
    h1 {
        color: #fff;
        margin: 0;
        padding: 0;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 53px;
        font-family: $font-family-secondary;
        @include calculateRem(30px, $font-size-root);
        @include bd-sm {
            @include calculateRem(38px, $font-size-root);
        }
        @include bd-tab {
            @include calculateRem(44px, $font-size-root);
        }
        @include bd-xl {
            @include calculateRem(50px, $font-size-root);
        }
    }
    p{
        @include calculateRem(16px, $font-size-root);
        color: #fff;
        margin: 0;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 22px;
        padding: 10px 20px;
        @include bd-sm {
            @include calculateRem(20px, $font-size-root);
            padding: 10px 40px;
            line-height: 35px;
        }
        @include bd-tab {
            @include calculateRem(22px, $font-size-root);
        }
        @include bd-xl {
            @include calculateRem(24px, $font-size-root);
        }
    }
}
.col-5.problem {
    width: 100%;
    @include bd-tab {
        width: 40%;
    }
    p{
        padding-right: 30px;
    }
}
.col-7.objective {
    width: 100%;
    margin-top: 40px;
    @include bd-tab {
        width: 60%;
        margin-top: 0;
    }
}

@include bd-sm {
    .hide-sm {
        display: none;
        margin-bottom: 40px;
    }
}
.results {
    h3{
        margin-bottom: 16px;
        margin-top: 20px;
        line-height: 34px;
    }
    .results-box {
        @include bd-tab-bl {
            width: 100%;
        }
    }
}

#cs-next-wrap {
    width: 100%;
    @include bd-xs {
        height: 200px;
    }
    margin-top: 30px;
    a {
        color: #fff;
        text-transform: uppercase;
    }
}
.cs-next figure{
    position: relative;
    background-size: cover;
    background-color: #000;
    height: 170px;
    width: 100%;
    @include bd-xs {
        width: 50%;
        float: left;
    }
    &:before {
        content: '';
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        @include transitions(all ease 0.25s);
    }
    &:hover{
        &:before {
            opacity: 1;
        }
    }
}
[class*="cs-next-"] {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%)); 
    left: 40px;
    i {
        margin-right: 30px;
        @include transitions(all ease 0.25s);
    } 
    &:hover {
        i {
            margin-right: 25px;
        }
    }  
}
.cs-next-right {
    right: 40px;
    left: auto;
    i{
        margin-right: 0;
        margin-left: 30px;
    }
    &:hover {
        i{
            margin-right: 0;
            margin-left: 25px;
        }
    }
}

@include bd-sm-bl {
    .img-diagram {
        display: none;
    }
}

.careers {
    .heading {
        @include calculateRem(34px, $font-size-root);
        @include bd-sm-bl {
            text-align: center;
        }
    }
    p{
        margin-bottom: 0;
    }
    .careers-desc {
        margin-bottom: 20px;
    }
    .col-12 {
        margin-bottom: 40px;
        border-bottom: 1px solid #d2d2d2;
        padding-bottom: 40px;
        &:last-child {
            border-bottom: 0;
        }
    }
    .filled-pos {
        &,h2,a {
            color: #d5d5d5;
        }
    }
    @include bd-sm-bl {
        text-align: center;
    }
    p strong {
        @include bd-sm-bl {
            display: block;
        }
    }
}