@import "icons/*.png";
@import "tech-icon/*.png";
@import "tech2x-icon/*.png";
@import "client-logo/*.png";
$icon-spacing: 10px !default;
$icons-layout:vertical;
@include all-icons-sprites(true);
@include all-tech-icon-sprites(true);
@include all-tech2x-icon-sprites(true);
@include all-client-logo-sprites(true);

%icons-sprite {
    display: inline-block;
    vertical-align: middle;
    @include transitions(all ease 0.5s);
    @include bd-bw(768px, 1024px) {
        @include transform(scale(0.75));
        @include transform-origin(0% 50%);
    }
}
.icon-text{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #707070;
    position: absolute;
    bottom: 40px;
    @include transform(translateX(-50%));
    width: 100%;
    @include bd-lg-bl {
        font-size: 18px;
    }
}
.icons-sprite {
    @extend %icons-sprite;
    margin: 0 6px;
    vertical-align: middle;

}
.tech-icon-sprite {
    @extend %icons-sprite;
    display: block;
    margin: 0 auto;
    background-size: 100%;
    .retina & {
        @extend .tech2x-icon-sprite;     
    }
    
} 

.icon-wrap{ 
    &:hover,&:active, &:focus {
        .tech-icon-sprite {
            &:before {
                opacity: 0;
            }
            &:after {
                opacity: 1;
            }
        }
    }
}

.client-logo-sprite {
    @extend %icons-sprite;
    @include bd-xs-bl {
        @include transform(scale(0.75));
    }
}

%icon-after {
    content: "";
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

%icon-before {
    content: "";
    opacity: 1;
    transition: opacity 0.3s;
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
}

.icon-node {
    &:before {
        @extend .tech-icon-node;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-node2;
        @extend %icon-after;
    }
}
.icon-wordpress {
    &:before {
        @extend .tech-icon-wordpress;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-wordpress2;
        @extend %icon-after;
    }
}
.icon-iOS {
    &:before {
        @extend .tech-icon-iOS;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-iOS2;
        @extend %icon-after;
    }
}

.icon-android {
    &:before {
        @extend .tech-icon-android;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-android2;
        @extend %icon-after;
    }
}

.icon-angular {
    &:before {
        @extend .tech-icon-angular;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-angular2;
        @extend %icon-after;
    }
}

.icon-magento {
    &:before {
        @extend .tech-icon-magento;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-magento2;
        @extend %icon-after;
    }
}

.icon-html {
    &:before {
        @extend .tech-icon-html;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-html2;
        @extend %icon-after;
    }
}

.icon-php {
    &:before {
        @extend .tech-icon-php;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-php2;
        @extend %icon-after;
    }
}

.icon-swift {
    &:before {
        @extend .tech-icon-swift;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-swift2;
        @extend %icon-after;
    }
}

.icon-shopify {
    &:before {
        @extend .tech-icon-shopify;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-shopify2;
        @extend %icon-after;
    }
}

.icon-ruby {
    &:before {
        @extend .tech-icon-ruby;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-ruby2;
        @extend %icon-after;
    }
}

.icon-joomla {
    &:before {
        @extend .tech-icon-joomla;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-joomla2;
        @extend %icon-after;
    }
}

.icon-mysql {
    &:before {
        @extend .tech-icon-mysql;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-mysql2;
        @extend %icon-after;
    }
}

.icon-python {
    &:before {
        @extend .tech-icon-python;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-python2;
        @extend %icon-after;
    }
}

.icon-objc {
    &:before {
        @extend .tech-icon-objc;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-objc2;
        @extend %icon-after;
    }
}

.icon-css3 {
    &:before {
        @extend .tech-icon-css3;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-css32;
        @extend %icon-after;
    }
}

.icon-drupal {
    &:before {
        @extend .tech-icon-drupal;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-drupal2;
        @extend %icon-after;
    }
}

.icon-mongo {
    &:before {
        @extend .tech-icon-mongo;
        @extend %icon-before;
    }
    &:after {
        @extend .tech-icon-mongo2;
        @extend %icon-after;
    }
}