@import "base/variables";
@import "base/mixins";
@import "partials/sprites";
@import "vendors/font-awesome/font-awesome";

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/Roboto-Light.eot');
    src: url('#{$font-path}/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Roboto-Light.woff2') format('woff2'),
        url('#{$font-path}/Roboto-Light.woff') format('woff'),
        url('#{$font-path}/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-Light.eot');
    src: url('#{$font-path}/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Raleway-Light.woff2') format('woff2'),
        url('#{$font-path}/Raleway-Light.woff') format('woff'),
        url('#{$font-path}/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-Regular.eot');
    src: url('#{$font-path}/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Raleway-Regular.woff2') format('woff2'),
        url('#{$font-path}/Raleway-Regular.woff') format('woff'),
        url('#{$font-path}/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-SemiBold.eot');
    src: url('#{$font-path}/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Raleway-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/Raleway-SemiBold.woff') format('woff'),
        url('#{$font-path}/Raleway-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('#{$font-path}/Dosis-Regular.eot');
    src: url('#{$font-path}/Dosis-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Dosis-Regular.woff2') format('woff2'),
        url('#{$font-path}/Dosis-Regular.woff') format('woff'),
        url('#{$font-path}/Dosis-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/Roboto-Medium.eot');
    src: url('#{$font-path}/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Roboto-Medium.woff2') format('woff2'),
        url('#{$font-path}/Roboto-Medium.woff') format('woff'),
        url('#{$font-path}/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('#{$font-path}/Roboto-Regular.eot');
    src: url('#{$font-path}/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Roboto-Regular.woff2') format('woff2'),
        url('#{$font-path}/Roboto-Regular.woff') format('woff'),
        url('#{$font-path}/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EB Garamond';
    src: url('#{$font-path}/EBGaramond.eot');
    src: url('#{$font-path}/EBGaramond.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/EBGaramond.woff2') format('woff2'),
        url('#{$font-path}/EBGaramond.woff') format('woff'),
        url('#{$font-path}/EBGaramond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('#{$font-path}/Dosis-SemiBold.eot');
    src: url('#{$font-path}/Dosis-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Dosis-SemiBold.woff2') format('woff2'),
        url('#{$font-path}/Dosis-SemiBold.woff') format('woff'),
        url('#{$font-path}/Dosis-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Dosis';
    src: url('#{$font-path}/Dosis-Medium.eot');
    src: url('#{$font-path}/Dosis-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Dosis-Medium.woff2') format('woff2'),
        url('#{$font-path}/Dosis-Medium.woff') format('woff'),
        url('#{$font-path}/Dosis-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url('#{$font-path}/Raleway-Medium.eot');
    src: url('#{$font-path}/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$font-path}/Raleway-Medium.woff2') format('woff2'),
        url('#{$font-path}/Raleway-Medium.woff') format('woff'),
        url('#{$font-path}/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
