@charset "UTF-8";
/* CSS Document */

.site--header .brand-logo > img {
    max-height: 140% !important;
}

.search--row ul.history-path li:not(:last-child) > a, .header--nav a {
    text-transform: uppercase;
}

.site--header {
    height: 94px !important;
    padding-top: 6px !important;
}

.header--nav a {
    line-height: 80px;
}